# -----------------------------------------------------------------------------
# OS
# -----------------------------------------------------------------------------

.DS_Store

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

/.idea

# -----------------------------------------------------------------------------
# Vendor
# -----------------------------------------------------------------------------

/vendor

# -----------------------------------------------------------------------------
# Composer
# -----------------------------------------------------------------------------

composer.lock

# -----------------------------------------------------------------------------
# PHPUnit
# -----------------------------------------------------------------------------

/phpunit
